/* 目录树 */
/* 图层控件层样式设置 */
.layerControl {
  position: absolute;
  bottom: 5px;
  width: 199px;
  max-height: 200px;
  left: 48px;
  top: 54px;
  padding-left: 13px;
  padding-top: 8px;
  /*在地图容器中的层，要设置z-index的值让其显示在地图上层*/
  z-index: 2001;
  color: #ffffff;
  background-color: #4c4e5a;
  /*边缘的宽度*/
  border-width: 10px;
  /*圆角的大小 */
  border-radius: 10px;
  /*边框颜色*/
  border-color: #000 #000 #000 #000;
}
